body, html {
    height: 100%;
    margin: 0;
  }

a, h1, h2, h3, h4, p {
    font-family: 'Roboto', sans-serif;
}  

.brand-logo {
    font-family: 'Monoton', cursive;
}

li {
    font-family: 'Roboto', sans-serif;
}

#top {
    background-image: url("../images/mountains.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    padding-top: 18%;
    background: rgb(2,0,36);
    background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(40,72,84,1) 0%, rgba(59,132,161,1) 100%);
    height: 600px;
    width: 100%;
}

.tyler {
    border-radius: 100%;
    border: 2px solid rgba(110,136,161,1);
    /* margin: 5px 12px 12px 0; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: colorborder;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes colorborder {
    from {border-color: rgba(221,221,221,1);}
    to {border-color: rgba(110,136,161,1);}
  }


.bio {
    color: white;
    line-height: 1.7;
}

#portfolio {
    background-image: linear-gradient( 0deg,  rgba(221,221,221,1) 5.5%, rgba(110,136,161,1) 90.2% );
    width: 100%;
    height: 700px;
    padding-top: 8%;
    text-align: center;
}

#port-text {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;

}

#cv {
    background-color: #284854;
    height: 400px;
    width: 100%;
    padding-top: 8%;
}


.contactMe {
    background-color: whitesmoke;
    text-align: center;
    padding: 30px 0;
    border-top: 2px solid gray;
}

/* footer {
    margin-bottom: 0;
} */