body, html {
    height: 100%;
    margin: 0;
  }

h1, h2, h3, h4, p {
    font-family: 'Roboto', sans-serif;
}  

.brand-logo {
    font-family: 'Monoton', cursive;
    color: black;
}

#black {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.top {
    background-image: url("../images/mountains.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .about {

}

.portfolio {

}

.cv {

}

.contactMe {
    
} */