.brand-logo {
    font-family: 'Monoton', cursive;
    color: black;
}

#black {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.top {
    background-image: url("../images/mountains.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    
}